* {
  box-sizing: border-box; }

body {
  background-color: #F6DECA;
  font-family: "Bitter", "Helvetica", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; 
}

a:link,
a:visited,
a:hover,
a:active
 {
    color: #3E606F;
}

.container {
  text-align: center;
}


/* title */
#title {
  position:absolute;
  right:100px;
  text-align: right;
  top: 16px;
  padding-right: 6px;
  font-weight: bold;
  font: 56px "Bitter", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
}

#subtitle {
  position:absolute;
  right:100px;
  text-align: right;
  top: 76px;
  padding-right: 6px;
  font-weight: bold;
  font: 26px "Bitter", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
}

/* button */
.button {
  background-color: #3E606F;
  border: none;
  color: #FCFFF5;
  font: 16px "Bitter", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  height: 40px;
  padding: 0 30px;
  transition: background-color 150ms ease-in-out; 
}
.button:hover, .button:focus {
    background-color: #598aa0;
    outline: none; 
}

/* text-input */
.text-input {
  border: none;
  color: #3E606F;
  font: 16px "Bitter", "Helvetica", Helvetica, Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  max-width: 600px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  top: 1px;
  transition: box-shadow 150ms ease-in-out; 
}
.text-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #598aa0 inset; 
}

/* header */
.header {
  position:absolute;
  background-color: #193441;
  padding: 20px 15px 20px;
  /*text-align: center; */
  right:100px;
  text-align: right;
  top:280px;
  border-radius:1%;
}
.header-title {
  color: #FCFFF5;
  font-size: 20px;
  margin-bottom: 6px; 
}

/* login */
#login {
  position:absolute;
  right:100px;
  text-align: right;
  top:450px;
  padding-right: 10px;
  color: white;
}




/* node */
.node {
  cursor: pointer;
}

.node circle {
  fill: #E6E6EA;
  stroke: #E6E6EA;
  stroke-width: 1.5px;
}

.node text {
  font: 14px sans-serif;
  fill: #FE4A49;
}

.link {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.0px;
}